<html>
<header>
    {% include 'header.html' %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
</header>
<body>

    <h1><a href="/">< Back to home</a></h1>
    <form id="ds">
        <input type="hidden" name="id" id="id" value="{{ds[2]}}" />
        <label for="name" class="col-form-label">Name</label><input class="form-control" type="text" id="name" name="name" value="{{ds[0]}}" /> <br />
        <label for="sql"  class="col-form-label">SQL</label><br />

        <textarea id="sql" cols="60" rows="16" name="sql">{{ds[1]}}</textarea> <br />
        <input type="submit" class="btn btn-primary" />
    </form>

    <script type="text/javascript">
    $(document).ready(function() {

        $('#ds').submit(function() {
            $.post({
                "url": '/api/datasource/' + $('#id').val(),
                "dataType": "json",
                "data": JSON.stringify({'sql': $('#sql').val(), 'name': $('#name').val()}),
                "success": function(data, textStatus) {
                    console.log(data)
                    console.log(textStatus)
                    alert('Your datasource was inserted: id' + data['id'])
                },
                "error" : function() {
                    alert('An error occurred :C')
                }
            })
            return false;
        })

    })

    </script>

</body>
</html>
