<html>
    <head>
        {% include 'header.html' %}
        <title> Checker </title>
    </head>
    <body class="container">
        <div class="w-50 mx-auto">
            <img src="{{ url_for('static', filename='Python_Monochromatic.png') }}" />
        </div>
        <div class="w-50 mx-auto">
            <p>This is a PoC of a malleable-checker. A quick way to write validation tests to your 
                production data. If the tests fail, an event is created and you can consume it 
                to produce: pages, slack messages, telegram messages or whatever else you want.</p>
            <p>Written by <a href="https://www.elias.sh">Elias</a>. The source code is available at
                <a href="https://github.com/era/malleable-checker">github</a> with AGPL-3.0 License.
            </p>
        </div>
        <div class="row w-50 mx-auto">
            <div class="col">
                <h2><a href="/checkers">List checkers</a></h2>
            </div>
           
            <div class="col">
                <h2><a href="/datasources">List datasources</a></h2>
        
            </div>
        </div> 
        <div class="row w-50 mx-auto">
            <div class="col">
                <h2><a href="/checkers/new">New Checker</a></h2>
            </div>
            <div class="col">
                <h2><a href="/datasources/new">New Datasource</a></h2>
            </div>
        </div>
    </body>
</html>
